<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>
<hr/>
<div class="container">

    <div class="row">
        <div class="col-8">

          <div class="card">
              <div class="card-header clearfix">
                  
                  <h2 class="card-title float-left">
                        Lugares Cercanos
                  </h2>
                  <a [routerLink]='["/create"]' class="btn btn-primary float-right"> Crear lugar </a>
              </div>
              <ul class="list-group list-group-flush">
                  <ng-container
                  *ngFor="let place of places; let i = index"
                  [ngSwitch]="place.nearBy">
                    <a
                    [routerLink]="['/details', place._id]"
                    [queryParams]="{action: 'view', referer: 'google'}">

                        <li class="list-group-item"
                          [ngStyle]="{color: (place.active) ? 'black' : 'gray'}">
                            {{ place.name }} -
                            <span *ngSwitchCase="1" [ngStyle]="{color: 'green'}"> Muy cercano </span>
                            <span *ngSwitchCase="2" [ngStyle]="{color: 'skyblue'}"> Cercano </span>
                            <span *ngSwitchCase="6" [ngStyle]="{color: 'red'}"> Lejano </span>
                            <span *ngSwitchDefault [ngStyle]="{color: 'orange'}"> Muy lejano </span>
                          </li>

                    </a>
                  </ng-container>
              </ul>
            </div>

        </div>
        <div class="col-2">
            <h2 class="title">
              Destacados
            </h2>
        </div>
    </div>

</div>
