<div class="body-contact">
  <div class="container">

    <div class="spacer"></div>
    <div class="row">
      <div class="col-6">
          <div class="card">
              <span class="card-img"></span>
              <div class="card-img-overlay">
                <h4 class="card-title">Contactanos</h4>
                <hr style="border-color: rgba(255, 255, 255, 0.616); width: 80%; margin: 3% 0;" />
                <p class="card-text">
                  Envianos un mensaje y pronto nos pondremos en contacto contigo.
                </p>
              </div>
              <div class="card-body">
                  <form>
                      <div class="form-group">
                        <input
                        type="text"
                        class="form-control form-control-sm mb-2 mr-sm-2 mb-sm-0"
                        placeholder="Digita tu nombre">
                        <hr style="border: 0; margin: 5px;">
                        <input
                        type="email"
                        class="form-control form-control-sm mb-2 mr-sm-2 mb-sm-0"
                        placeholder="Digita tu email">
                      </div>
                      <hr style="border-color: #ccc">
                      <div class="form-group">
                          <label>Comentanos tu situación.</label>
                          <textarea class="form-control form-control-sm" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>
                      <button type="submit" class="btn btn-block btn-primary">Contactar</button>
                    </form>
              </div>
          </div>
      </div>
      <div class="col-6">
        <div style="text-align:center;">
          <i class="material-icons d-inline-block align-top" style="font-size: 230px; color: #fff">spa</i>
        </div>
      </div>
    </div>

  </div>
</div>
