
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <i class="material-icons d-inline-block align-top" style="font-size: 30px">spa</i>
        PlatziSquare!
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li routerLinkActive="active">
          <a class="nav-link" routerLink="/index">Inicio </a>
        </li>
        <li routerLinkActive="active">
          <a class="nav-link" routerLink="/details/1">Detalle</a>
        </li>

      </ul>
    </div>
</nav>

<hr style="border: .5px solid #ccc;">

<div *ngIf="router.url !== '/index'" class="container">
  <router-outlet></router-outlet>
</div>

<div *ngIf="router.url === '/index'">
  <router-outlet></router-outlet>
</div>
