<!--The content below is only a placeholder and can be replaced.-->

<!--The content below is only a placeholder and can be replaced.-->
{{ title }}

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>

<ul>
  <ng-container *ngFor="let place of places">
    <li *ngIf="place.active"> {{ place.nombre }} </li>
  </ng-container>
</ul>

<ul>
  <ng-container *ngFor="let place of places; let i = index">
    <li
    [ngStyle]="{color: (place.active) ? 'black' : 'gray'}"
    [ngClass]="{numero_par: (i + 1) % 2 !== 0}"> {{ place.nombre }} </li>
  </ng-container>
</ul>
